.centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer {
  max-width: 50rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.animation {
  width: 100%;
  margin-bottom: 2rem;
}
