.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.animation {
  width: 100%;
  margin-bottom: 2rem;
}

.logoGrid {
  align-items: center;
}
