.container img {
  width: 100%;
  display: block;
}

.border {
  border: 0.2rem solid var(--border-highlight-color);
  border-radius: 8px;
  overflow: hidden;
}

.border p {
  margin-bottom: 0;
}

.caption {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}
